<main class="container about-content">
  <div class="row mt-5">
    <div class="col">
      <h3>About</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-7 col-12-md">
        <p>The purpose of this website is as part of my portfolio for my online web development bootcamp, <a href="https://flatironschool.com" target="_blank">the Flatiron School</a>. This website shows a list of fabricated restaurants and users commenting on those restaurants. The goal is to use a combination of Ruby on Rails and Javascript to list, query, and update content on the database. This is achieved with both SQL queries and maniputing JSON data with javascript.</p>
        <p>The website features a list of <%= link_to "restaurants", restaurants_path %>. There are some basic filters that can be applied to the restaurants.</p>
        <p>Each restaurant has a details page that contains information about the restaurants as well as a list of comments about the restaurant from patrons. A logged in user is able to add a comment that is associated to their user account.</p>
        <p>Users can signup for the site and login with their username and password. The authenticated user has full access to the comment features.</p>
      </div>
      <div class="col-lg-5 col-12-md">
        <div class="card">
          <img src="/assets/about.jpg" class="card-img-top" alt="Restaurants">
          <div class="card-body">
            <p class="card-text">This website explores imaginary restaurants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>