<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="hero-text">
      <h1 class="display-4">Restaurant Explorer</h1>
      <p class="lead">Your location to see what's hot in the local <%= link_to "restaurant scene", restaurants_path %>.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
  </div>
</div>

<main class="container">
  <div class="row mt-5 restaurant-hightlights">
    <div class="col-lg-4 col-md-12 mt-4">
      <div class="text-center">
        <img src="/assets/restaurant-23.jpg">
        <h3>Discover</h3>
        <p>Find new cuisines and hidden gems - explore restaurants in your area.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 mt-4">
      <div class="text-center">
        <img src="/assets/restaurant-22.jpg">
        <h3>Learn</h3>
        <p>Learn about what makes each restaurant unique and interesting.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 mt-4">
      <div class="text-center">
        <img src="/assets/about4.jpg">
        <h3>Review</h3>
        <p>Give your feedback and rate your dining experiences.</p>
      </div>
    </div>
  </div>
</div>