<main class="container about-content">
  <div class="row mt-5">
    <div class="col">
      <h3>Your Account</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h5 class="mb-3"><%= @user.full_name %></h5>
      <p><strong>Username</strong>: <%= @user.username %></p>
      <p><strong>Email</strong>: <%= @user.email %></p>
    </div>
    <div class="col-4">
      <%= image_tag @user.avatar.image_url, class: "img-thumbnail" %><br>
      <span>User Avatar</span>
    </div>
  </div>
</div>