<div class="row mt-5">
  <div class="col">
    <h3>Restaurants</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-3">
  <div id="all-restaurants" class="col-12">

  </div>
</div>

<script>
  $(function() {
    getRestaurants()
  })

  function getRestaurants() {
    $.get("/restaurants.json", function(data) {
      $.each(data, function(index, value) {
        // debugger;
        let restaurant = new Restaurant(value);
        restaurant.phone = restaurant.formatPhone(restaurant.phone);
        let html = restaurant.basicHTML();
        $("#all-restaurants").append(html);
      })
    })
  }

  class Restaurant {
    constructor(obj) {
      this.id = obj.id
      this.name = obj.name
      this.description = obj.description
      this.phone = obj.phone
      this.email = obj.email
      this.image = obj.image_url
      this.location = obj.location.city
    }
  }

  Restaurant.prototype.formatPhone = function(phone_number) {
      var re = /\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})/g; 
      var subst = '($1) $2-$3';
      var result = phone_number.replace(re, subst);
      return result;
    }

  Restaurant.prototype.basicHTML = function() {
    return (`
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/${this.image}" class="card-img" alt="${this.name}" style="border-radius: 0.25rem 0 0 0.25rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="/restaurants/${this.id}">${this.name}</a></h5>
              <p class="card-text">${this.description}</p>
              <p class="card-text mb-n1"><i class="fa fa-phone" style="color: black;"></i> <small class="text-muted">${this.phone}</small></p>
              <p class="card-text mb-n1"><i class="fa fa-envelope" style="color: black;"></i> <small class="text-muted">${this.email}</small></p>
              <p class="card-text"><i class="fa fa-map-marker" style="color: black;"></i> <small class="text-muted">${this.location}</small></p>
            </div>
          </div>
        </div>
      </div>
    `)
  }
</script>