<div class="row mt-5">
  <div class="col">
    <h3><%= @restaurant.name %></h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <div id="single-restaurant">
      <%= @restaurant.description %>
    </div>
  </div>
</div>