<div class="row mt-5">
  <div class="col">
    <div id="restaurant-id" data-id="<%= @restaurant.id %>"></div>
    <h3 id="restaurant-name"></h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-3">
  <div id="single-restaurant" class="col-6">
    <!-- single restaurant data goes here -->
  </div>
  <div id="single-restaurant-comments" class="col-6">
    <!-- single restaurant comment data goes here -->
  </div>
</div>


