// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .card-title {
    flex: 0;
  }

  .card-text {
    flex: 1;
  }

  .card-info-box {
    width: 100%;
    display: flex;
    flex: 0 70px;
    border-top: 1px solid #EEE;
    padding-top: 10px;

    .restaurant-contact {
      flex: 0 210px;
      align-self: flex-start;
      justify-content: flex-start;
    }

    .restaurant-cuisines {
      flex: 1;
      width: 100%;
      align-content: flex-end;

      justify-content: flex-end;

      p {
        font-size: 0.9rem;
        float: right;
      }
    }
  }
}

#no-restaurants {
  display: none;
}

.comments-media {
  padding: 14px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  img {
    width: 70px;
  }
}