<footer class="mt-5 bg-dark text-white">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Restaurant Explorer © Robert Laws - 2019</p>
    <p>Learn all about your local restaurants.</p>
  </div>
</footer>